.container {
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .month-view {
      display: flex;
      gap: 12px;

      .month-notice {
        font-size: 36px;
        font-weight: bold;
      }

      button {
        font-size: 36px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .calendar {
    border: 1px solid black;

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .day {
        padding: 12px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        border: 1px solid black;

        &--sunday {
          color: red;
        }

        &--saturday {
          color: blue;
        }
      }

      .date {
        padding: 12px;
        font-size: 24px;
        border: 1px solid black;
        height: 52px;
        text-align: end;

        &--other-month {
          color: gray !important;
        }

        &--sunday {
          color: red;
        }

        &--saturday {
          color: blue;
        }
      }
    }
  }
}
